[Unit]
Description = Attribute Daemon
After = network.target

[Service]
Type=simple
ExecStart=/usr/bin/attrd
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
