[Unit]
Description = Afero Connection Manager
After = wifistad.service

[Service]
Type=simple
ExecStart=/usr/bin/connmgr
ExecStartPre=-/sbin/ifconfig usb0 down
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target

