[Unit]
Description = WAN Daemon
After = attrd.service

[Service]
Type=simple
ExecStart=/usr/bin/wand
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
