[Unit]
Description = Wi-Fi STA Daemon
After = wpa_supplicant.target

[Service]
Type=simple
ExecStart=/usr/bin/wifistad
ExecStartPre=/bin/mkdir -p /afero_nv
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
