[Unit]
Description=System Logging Service
Wants=busybox-klogd.service

[Service]
ExecStart=/sbin/syslogd -n
Sockets=syslog.socket

[Install]
WantedBy=multi-user.target
Also=busybox-klogd.service
Alias=syslog.service
