[Unit]
Description = Afero Edge Daemon
After = hubby.service

[Service]
Type=simple
ExecStart=/usr/bin/edge_watcher
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target

