[Unit]
Description = Afero Security Daemon
After = network.target

[Service]
Type=simple
ExecStart=/usr/bin/afsecd -D /dev/i2c-2
Restart=always
RestartSec=5

[Install]
WantedBy = multi-user.target
